<h1>My Quotes</h1>

<table border="1">
  <thead>
    <tr>
      <th>Quote</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
  
  <%# loop using the partial  %>
  <%= render @quotes %>
    
  </tbody>
</table>

<%= link_to "Add New Quote", new_quote_path %>